In [1]:
#Task 1: Data Preparation
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk
import math

data = pd.read_csv('StarWars.csv',encoding='unicode escape',header=None)
data = data.drop([0,1])

data.columns = ['Respondent ID',
                'Watched the Star Wars franchise?',
                'Fan of the franchise?',
                'Seen Ep I',
                'Seen Ep II',
                'Seen Ep III',
                'Seen Ep IV',
                'Seen Ep V',
                'Seen Ep VI',
                'Rank The Film From 1-6 for EP I',
                'Rank The Film From 1-6 for EP II',
                'Rank The Film From 1-6 for EP III',
                'Rank The Film From 1-6 for EP IV',
                'Rank The Film From 1-6 for EP V',
                'Rank The Film From 1-6 for EP VI',
                'How do you like the character: Han Solo',
                'How do you like the character: Luke Skywalker',
                'How do you like the character: Princess Leia Organa',
                'How do you like the character: Anakin Skywalker',
                'How do you like the character: Obi Wan Kenobi',
                'How do you like the character: Emperor Palpatine',
                'How do you like the character: Darth Vader',
                'How do you like the character: Lando Calrissian',
                'How do you like the character: Boba Fett',
                'How do you like the character: C-3P0',
                'How do you like the character: R2 D2',
                'How do you like the character: Jar Jar Binks',
                'How do you like the character: Padme Amidala',
                'How do you like the character: Yoda',
                'Which character shot first?',
                'Familiar with the Expanded Universe?',
                'Fan of the Expanded Universe?',
                'Fan of the Star Trek franchise?',
                'Gender',
                'Age',
                'Household Income',
                'Education',
                'Location (Census Region)']

data['Watched the Star Wars franchise?'] = data['Watched the Star Wars franchise?'].str.strip()
data['Fan of the franchise?'] = data['Fan of the franchise?'].str.strip()
data['Fan of the franchise?'].fillna('No', inplace=True)

watchedColumns = ["Seen Ep I",
                  "Seen Ep II",
                  "Seen Ep III",
                  "Seen Ep IV",
                  "Seen Ep V",
                  "Seen Ep VI"]

episodes = ['Star Wars: Episode I  The Phantom Menace',
            'Star Wars: Episode II  Attack of the Clones',
            'Star Wars: Episode III  Revenge of the Sith',
            'Star Wars: Episode IV  A New Hope',
            'Star Wars: Episode V The Empire Strikes Back',
            'Star Wars: Episode VI Return of the Jedi']

filmRating = ['Rank The Film From 1-6 for EP I',
              'Rank The Film From 1-6 for EP II',
              'Rank The Film From 1-6 for EP III',
              'Rank The Film From 1-6 for EP IV',
              'Rank The Film From 1-6 for EP V',
              'Rank The Film From 1-6 for EP VI']

for col in watchedColumns:
    for value in episodes:
        data[col].replace(episodes,'Watched',inplace=True)
        data[col].fillna('Not Watched', inplace=True)

for value in filmRating:
    data[value].fillna('0', inplace=True)

# watchedColumns = ["Seen Ep I","Seen Ep II","Seen Ep III","Seen Ep IV","Seen Ep V","Seen Ep VI"]
# for col in watchedColumns:
#     print(col)
#     print(data[col].value_counts())
#     print()

# filmRating = ['Rank The Film From 1-6 for EP I','Rank The Film From 1-6 for EP II','Rank The Film From 1-6 for EP III','Rank The Film From 1-6 for EP IV','Rank The Film From 1-6 for EP V',
#               'Rank The Film From 1-6 for EP VI']
# for col in filmRating:
#     print(col)
#     print(data[col].value_counts())
#     print()

data

,Respondent ID,Watched the Star Wars franchise?,Fan of the franchise?,Seen Ep I,Seen Ep II,Seen Ep III,Seen Ep IV,Seen Ep V,Seen Ep VI,Rank The Film From 1-6 for EP I,...,How do you like the character: Yoda,Which character shot first?,Familiar with the Expanded Universe?,Fan of the Expanded Universe?,Fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
2,3292879998,Yes,Yes,Watched,Watched,Watched,Watched,Watched,Watched,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
3,3292879538,No,No,Not Watched,Not Watched,Not Watched,Not Watched,Not Watched,Not Watched,0,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
4,3292765271,Yes,No,Watched,Watched,Watched,Not Watched,Not Watched,Not Watched,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
5,3292763116,Yes,Yes,Watched,Watched,Watched,Watched,Watched,Watched,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
6,3292731220,Yes,Yes,Watched,Watched,Watched,Watched,Watched,Watched,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,3288388730,Yes,Yes,Watched,Watched,Watched,Watched,Watched,Watched,5,...,Very favorably,Han,No,NaN,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1184,3288378779,Yes,Yes,Watched,Watched,Watched,Watched,Watched,Watched,4,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1185,3288375286,No,No,Not Watched,Not Watched,Not Watched,Not Watched,Not Watched,Not Watched,0,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1186,3288373068,Yes,Yes,Watched,Watched,Watched,Watched,Watched,Watched,4,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1187,3288372923,Yes,No,Watched,Watched,Not Watched,Not Watched,Watched,Watched,6,...,Very unfavorably,I don't understand this question,No,NaN,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific